.vscode/**
.vscode-test/**
out/test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
src/
resources/
test/
.github/
eslint*
contrib/
trivy
tsconfig*.json
lefthook.yml
.*ignore

