.vscode/**
.vscode-test/**
out/test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/** 
!node_modules/@vscode/codicons/dist/**
!node_modules/@vscode/webview-ui-toolkit/dist/**/
src/
# resources/
test/
.github/
eslint*
contrib/
trivy
tsconfig*.json
lefthook.yml
.*ignore

